<table class="table highlight-on-hover">
  <thead>
    <tr>
      <ng-container *ngTemplateOutlet="
        header || defaultHeaderTemplate;
        context: { $implicit: data }
      "></ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data.length > 0; else empty_rows">
      <tr *ngFor="let row of data">
        <ng-container *ngTemplateOutlet="
          rows || defaultRowTemplate;
          context: { $implicit: row }
        "></ng-container>
      </tr>
    </ng-container>
    <ng-template #empty_rows>
      <tr>
        <td colspan="1000">There are no records.</td>
      </tr>
    </ng-template>
  </tbody>
</table>

<ng-template #defaultHeaderTemplate let-data>
  <ng-container *ngIf="data.length > 0; else empty_header">
    <th *ngFor="let keyvalue of data[0] | keyvalue">{{ keyvalue.key }}</th>
  </ng-container>
  <ng-template #empty_header>
    <th>No headers provided</th>
  </ng-template>
</ng-template>

<ng-template #defaultRowTemplate let-row>
  <td *ngFor="let keyvalue of row | keyvalue">{{ keyvalue.value }}</td>
</ng-template>
